/*Nav bar*/
#logo { 
  height: 50px;
  width: 50px;
  display: inline;
}

#logo-text {
  display: inline;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

/*Login page*/
#body-login {
  background-image: url(./Assets/background4.png);
  background-size: cover;
  /* background-repeat: no-repeat; */
  height: 1vh;
}

form.login {
  margin: 50px;
  padding: 10px;
  border-radius: 20px;
  background-color: white;
}

/*Members*/
#body-members {
  background-image: url(./Assets/background2.png);
  background-repeat: no-repeat;
  background-color: #ffda82;
  background-position: center;
  height: 100vh;
}
#nav-link {
  float: right !important;
  color: black;
  padding-right: 10px;
  padding-top: 10px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

#member-form {
  background-color: white;
}

#welcome {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

#location-input {
  margin-right: 10px;
  width: fit-content;
}

#location-button:hover {
  background-color: turquoise;
}

/* Signup page */
#body-signup {
  background-image: url(./Assets/background3.png);
  background-size: cover;
}

form.signup {
  margin: 50px;
  padding: 10px;
  border-radius: 20px;
  background-color: white;

}