<!DOCTYPE html>
<html lang="en">

<head>
  <title>Passport Authentication</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
  <link href="stylesheets/style.css" rel="stylesheet">
  <link href="stylesheets/main.css" rel="stylesheet">
</head>

<body id="body-members">
  <nav class="navbar navbar-default">
    <img id="logo" src="./stylesheets/Assets/logo.png">
    
    <h4 class="wordCarousel">    
      <span>Coddiwomble</span>  
      <div> 
<!--        Use classes 2,3, or 4 to match the number of words --> 
          <ul class="flip4"> 
              <li>Sydney</li>
              <li>Tokyo</li>
              <li>Lagos</li>
              <li>Los Angeles</li>
              <li>Delhi</li>
              <li>Manila</li>
              <li>Bangkok</li>
              <li>Dubrovnik</li>
              <li>Seoul</li>
              <li>London</li>
              <li>New York</li> 
              <li>Bali</li>
              <li>Prague</li>
              <li>Siem Reap</li>
              <li>Amsterdam</li>
              <li>Kyoto</li>
              <li>Havana</li>
              <li>Beirut</li>
              <li>Cape Town</li>
              <li>Budapest</li>
              <li>Buenos Aires</li>
              <li>Lisbon</li>
              <li>Luang Prabang</li>
              <li>Florence</li>
              <li>Istanbul</li>
              <li>Hong Kong</li>
              <li>Copenhagen</li>
              <li>Krakow</li>
              <li>Bruges</li>
              <li>Edinburgh</li>
              <li>Hoi Ann</li>
              <li>Quebec</li>
              <li>Queenstown</li>  
          </ul>
      </div>  
    </h4>

    <a id="nav-link" href="/logout"> Logout </a>
    <div class="container-fluid">
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <form class="signup">
          <h2 id="welcome">Welcome <span id="member-name"></span></h2>
          <h3>Add a destination to your wishlist</h1>
            <div class="input-group mb-3">
              <div class="location">
              <input type="text" id="location-input">
              <!-- <div class="input-group-append"> -->
                <button class="btn glow-on-hover" type="button" id="location-button">Add</button>
              <!-- </div> -->
            </div>
          <ul class="wishlist">
            <!-- add the list of cities here -->
          </ul>
        </form>
      </div>
    </div>
  </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/members.js"></script>

</body>

</html>