<!DOCTYPE html>
<html lang="en">

<head>
  <title>Passport Authentication</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
  <link href="stylesheets/style.css" rel="stylesheet">
</head>

<body id="body-members">
  <nav class="navbar navbar-default">
    <img id="logo" src="./stylesheets/Assets/logo.png">
    <p id="logo-text">Coddiwomble</p>
    <a id="nav-link" href="/logout"> Logout </a>
    <div class="container-fluid">
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <form class="signup">
          <h2 id="welcome">Welcome <span id="member-name"></span></h2>
          <h3>Add a destination to your wishlist</h1>
          <ul class="wishlist">
            <!-- add the list of cities here -->
          </ul>
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="location-input">
            <!-- <div class="input-group-append"> -->
              <button class="btn btn-outline-secondary" type="button" id="location-button">Add</button>
            <!-- </div> -->
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/members.js"></script>

</body>

</html>